# -----------------------------
# 1. SecretProviderClass for Key Vault
# -----------------------------
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: orderingestion-kv-provider
  namespace: orderingestion-api-prod
spec:
  provider: azure
  secretObjects:
    - secretName: db-connection
      type: Opaque
      data:
        - objectName: DbConnection
          key: ConnectionStrings__DefaultConnection
  parameters:
    usePodIdentity: "false"        # MUST be false
    useVMManagedIdentity: "true"   # MUST be true
    userAssignedIdentityID: "541d730e-7749-43d8-8205-f95461804e98"
    keyvaultName: "orderingestion-kv"
    tenantId: "84768a2b-e1a3-4985-800a-6463c20a65d5" 
    objects: |
      array:
        - |
          objectName: DbConnection
          objectType: secret